.logo {
  color: $accent-color;
  font-family: Raleway, cursive;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;

  &-black {
    color: $title-text-color;
  }
  &-white {
    color: $primary-white-color;
  }
}
